*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #050505;
    color: #dedede;
}

h2{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size:24px;
    font-family:Playfair Display, serif;
}

a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    font-family: Playfair Display, serif;
    color: #dedede;
}
h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 22px;
    font-family: Playfair Display, serif;
}

.titulo{
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.corpo{
    white-space: pre-line;
    text-align: left;
    padding: 0 40;
    line-height: 1.5;
    font-size:16px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif
}

.divTotal{
    display: flex;
    flex-direction: column;
    padding:20px;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
}

.div0{
    background: #fafafa09;
    padding: 20px 50px;
    border-radius: 60px;
}